.p1 {
    font-family: serif;
    color: blue;
    background-color: pink;
    font-size: 12pt;
  }

.p2 {
    font-family: fantasy;
    color: white;
    background-color: green;
    font-size: 14pt;
  }

  table{
    border: solid 1pt black;
    border-spacing: 1%;
  }
  td{
    border: solid 1pt black;
    padding: 10pt
  }