.form {
    max-width: 80%;
    font-size: 300%;
    margin-top: 10% ;
    margin-bottom: 5%;
    text-decoration: none;
    outline: none;
    text-align: center;
    size: 150%;
    color: purple;
    border-radius: 10%;
    padding: 2em;
    background-image: url(formB.jpg);

}

body {
    background-color: lightblue;
}

.update {
    width: 100%;
    height: 100%;
    background-image: url("wood.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 20%;
    margin-bottom: 15%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

nav {
    background-image: url("wood.jpg");
    padding-bottom: 1em;
    padding-top: 1em;
    border-radius: 20%;
}

.initial {
    font-family: 'Brush Script MT';
    color: red;
    text-shadow: -1px 0 pink, 0 1px pink, 1px 0 pink, 0 -1px pink;
    font-size: 250%;
    border-radius: 30%;

}