/* The following groups are used on the nav bar specifically */

nav {
    background-image: url("wood.jpg");
    padding-bottom: 1em;
    padding-top: 1em;
}

.linkUpgrade {
    background-color: gray;
    border-radius: 25pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 5%;
    text-decoration: none;
    font-size: 200%;
    text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
    color: pink;
    background-image: url('background.jpg');
    padding: 0.3em;
}

.initial {
    font-family: 'Brush Script MT';
    color: red;
    text-shadow: -1px 0 pink, 0 1px pink, 1px 0 pink, 0 -1px pink;
    margin-left: 2%;
    font-size: 250%;

}

html {
    background-image: url('background.jpg');
}


/* skillheading is used for every heading/title on the page */

.skillheading {
    font-size: 250%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 22%;
    background-color: gray;
    text-align: center;
    background-image: url("wood.jpg");
    text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
    color: pink;
}

/* These classes (aboutMe, hobbies, education etc) are used for each section of the page e.g. aboutMe is used to style 
the contents of the About Me section */

.aboutMe {
    max-width: 50%;
    margin-left: 25%;
    float: left;
    padding: 1em;
    margin-top: 5%;
    text-align: center;
    background-image: url("wood.jpg");
   border-radius: 20pt;
   border-style: double;
   border-color: yellow;
   color: red;
   text-align: center;
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.hobbies {
    float: right;
    margin-right: 15%;
   width: 30%;
   height: 30%;
   margin-top: 17%;
   text-align: center;
  border-radius: 20pt;
  border-style: double;
  border-color: yellow;
  color: red;
  text-align: center;
  font-size: 150%;
  background-image: url("wood.jpg");
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.achievements {
    margin-top: 50%;
} 

.education {
    float: left;
    margin-left: 15%;
    width: 30%;
    height: 150%;
    margin-top: 17%;
    text-align: center;
    background-color: pink;
   border-radius: 20pt;
   border-style: double;
   border-color: yellow;
   color: red;
   text-align: center;
   font-size: 150%;
   background-image: url("wood.jpg");
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h3 {
    margin-top: -2%;
 }




.div {
    margin-right: 50%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* used for the platform images */

 figcaption {
     z-index: 1;
     color: black;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     font-size: 200%;
     position: absolute;
     font-weight: bold;
     text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
 }

 figure {
    z-index: -1;
}

/* each white class represents a style for a seperate skill under the skill tab */

.white {
    margin-left: 18%;
     margin-top: -19%;
     color: pink;
 }
 .white2 {
    margin-left: 48%;
     margin-top: -14%;
     max-width: 25%;
     text-align: center;
     color: orange;
 }
 .white3 {
    margin-left: 32%;
     margin-top: -7.5%;
     color: red;
 }
 .white4 {
    margin-left: 80%;
    margin-top: -15%;
    max-width: 10%;
    text-align: center;
    color: aquamarine;
 }

 .white5 {
    margin-left: 8%;
     margin-top: -6.5%;
     max-width: 8%;
     text-align: center;
     color: green;
 }

 .white6 {
    margin-left: 42%;
     margin-top: -23%;
     max-width: 8%;
     text-align: center;
     color: firebrick;
 }
 

 

 .skills {
    margin-top: 30%;
 }

 /* every image class is used on a specific image on the page (different classes due to the positioning of the images)
 image 2-7 are used for the gaming platform images whereas img is used for my profile */
 .img {
    border-radius: 50%;
    width: 30%;
    height: 40%;
    float: right;
    margin-right: 10%;
    margin-top: -28%;
    
 }

 .img:hover {
    transition: transform .5s ease;
    transform: scale(1.5);
    z-index: -1;
 }

 .img2 {
    width: 20%;
    height: 35%;
    z-index: -1;
    margin-left: 10%;
    margin-top: 20%;
 }

 .img3 {
    width: 20%;
    height: 35%;
    z-index: -1;
    margin-left: 80%;
    margin-top: 5%;
 }

 .img4 {
    width: 20%;
    height: 35%;
    z-index: -1;
    margin-left: 55%;
    margin-top: -20%;
 }

 .img5 {
    width: 20%;
    height: 35%;
    z-index: -1;
    margin-left: 30%;
    margin-top: -35%;
 }

 .img6 {
    width: 20%;
    height: 35%;
    z-index: -1;
    margin-right: 90%;
    margin-top: -10%;
 }

 .img7 {
    width: 20%;
    height: 10%;
    z-index: -1;
    position: absolute;
    top: 120%;
    left: 40%;
 }

 

/* the parent and the child class is used to create the effect under the achievement tab. It is used for the text to appear as soon
as the user hovers over the objects in the parent class. the figure class is for the icon when the user isnt hovering over the parent class 
objects. The span class is the styling of paragraphs under achievements*/
 .parent {
        width: 15em; 
        height: 18em;
        float: right;
        margin-left: 4%;
        margin-right: 5%;
        margin-top: 5%;
      }
  
  .child {
    width: 100%;
    height: 100%;
    background-image: url("wood.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 20%;
  }

  .parent:hover .child ,
.parent:focus .child  {
  transform: scale(1.2);
  transition: 1s;
  display: block;
}

.span {
    font-family: sans-serif;
    padding: 25%;
    display: none;
    color: purple;
   text-align: center;
   font-size: 70%;
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

.parent:hover .span ,
.parent:focus .span  {
  transform: scale(1.2);
  display: block;
}

.parent:hover .figure ,
.parent:focus .figure  {
  display: none;
}

.figure {
    width: 20%;
    height: 20%;
    margin-left: 40%;
    margin-top: 50%;
}

p {
    margin-top: 3%;
}


 /* Rest of the groups are for the styling of the login and blog forms. */

 form {
     max-width: 60%;
     margin-left: 20%;
     margin-top: 10% ;
     margin-bottom: 5%;
     text-decoration: none;
     outline: none;
     text-align: center;
     size: 150%;
     color: purple;
     border-radius: 10%;
     padding: 2em;
     background-image: url(formB.jpg);

 }

 .MakeABlog {
     margin-top: 40%;
     margin-left: 15%;
     margin-bottom: 10%;
     text-align: center;
     max-width: 60%;
     background-image: url("wood.jpg");
     border-radius: 100%;
     padding: 4em;
 }

 /* for the links in the make a blog segement */

 .blogMargin {
    position: absolute;
    top: 377%;
    right: 70%;
 }

 .blogMargin2 {
    position: absolute;
    top: 377%;
    left: 67%;
}

 h4, label{
    font-size: 150%;
    text-shadow: -1px 0 rgb(255, 0, 0), 0 1px rgb(255, 0, 0), 1px 0 rgb(255, 0, 0), 0 -1px rgb(255, 0, 0);
}

 .formBackground {
    background-image: url(formBg2.jpg);
 }

 .formHeading {
    font-size: 250%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 22%;
    text-align: center;
    text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
    color: pink;
 }

 .textbox {
     width: 60%;
     height: 150%;
     color: purple;
     font-size: 140%;
     margin-top: 2%;
     margin-bottom: 2%;
 }

 button {
     color: purple;
     text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
     font-size: 110%;
 }

 /* for the footer links */

 footer {
    background-image: url(wood.jpg);
    color: white;
 }
 .footerlink {
    text-decoration: none;
    text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
    color: pink;
 }

